@font-face {
    font-family: "Clah Display";
    src: url(../fonts/ClashDisplay-Light.woff2);
    font-weight: 200;
}

@font-face {
    font-family: "Clah Display";
    src: url(../fonts/ClashDisplay-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: "Clah Display";
    src: url(../fonts/ClashDisplay-Bold.woff2);
    font-weight: 900;
}

@font-face {
    font-family: Satoshi;
    src: url(../fonts/Satoshi-Regular.woff2);
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-white: #fff;
    --color-black: #000000;
    --color-lite-gray: #f9f9f9;
    --color-dark-primary: #2a2548;
    --color-nav-links: #726e8d;
    --font-Clah-Display:"Clah Display";
    --font-Satoshi:"Satoshi"
}

.button {
    text-decoration: none;
    color: var(--color-dark-primary);
    background-color: var(--color-lite-gray);
    padding: 16px 32px;
    font-family: Satoshi;
    font-size: 16px;
}

.button:hover {
    transition: all 0.8s;
    color: var(--color-lite-gray);
    background-color: var(--color-dark-primary);
}


header>div{
    font-family: Satoshi;
    font-size: 14px;
    background-color: var(--color-dark-primary);
    color: var(--color-white);
    display: grid;
    grid-template-columns: 1fr 24px;
    padding: 11px 9px;
    justify-items: center;
}

header div p {
    display: grid;
    grid-template-columns: 16px 1fr;
    column-gap: 8px;
    justify-self: center;
}


header section {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    padding: 30px 8vw;
    
}

header section>a {
    text-decoration: none;
    font-family: var(--font-Clah-Display);
    font-size: 24px;
    color: #22202e;
}

header section nav {
    justify-self: center;
}

header section ul {
    display: flex;
    list-style-type: none;
    column-gap: 4vw;
}

header section ul a {
    text-decoration: none;
    color: var(--color-nav-links);
    font-family: Satoshi;
    font-size: 16px;
}

header section div.icons {
    justify-self: end;
    grid-template-columns: repeat(3, 16px);
    display: grid;
    column-gap: 16px;
}

main section.Dandy {
    padding-top: 50px;
    padding-left: 8vw;
    padding-bottom: 50px;
    column-gap: 6vw;
    display: grid;
    grid-template-rows: 40vw;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: var(--color-lite-gray);
}

main section.Dandy img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


main section.Dandy div h1 {
    font-family: "Clash Display";
    font-size: 36px;
    font-weight: 400;
    display: grid;
    padding-bottom: 16px;
}

main section.Dandy h2 {
    font-family: Satoshi;
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 28px;
}

main section.Dandy hr {
    width: 80%;
    border: 1px solid #EBE8F4;

}

main section.Dandy h3 {
    font-family: var(--font-Clah-Display);
    font-weight: 400;
    font-size: 16px;
    padding-top: 24px;
    padding-bottom: 14px;
}

main section.Dandy p.tru {
    font-family: Satoshi;
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 36px;
}

main section.Dandy div.Dimensions {
    display: grid;
    grid-template-columns: max-content 1px max-content 1px max-content;
    align-items: center;
    column-gap: 50px;
    padding-bottom: 40px;
}

main section.Dandy div.Dimensions div {
    height: 80%;
    background-color: #EBE8F4;
}

main section.Dandy div.Dimensions p {
    display: grid;
    row-gap: 15px;
    font-family: var(--font-Clah-Display);
    font-weight: 400;
    font-size: 14px;
}

main section.Dandy div.Quantitity {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 122px;
    height: 50px;
    grid-template-rows: 36px;
    background-color: var(--color-white);
    justify-items: center;
    align-items: center;
}

main section.Dandy div.Quantitity span {
    font-family: Satosahi;
    font-weight: 400;
    font-size: 16px;
}

main section.Dandy div.Quantitity span:nth-child(1) {
    color: #EBE8F4;
}

main section.Dandy div.Quantitity span:nth-child(3) {
    color: #EBE8F4;
}

main section.Dandy div.btn  {
    padding-top: 48px;
}

main section.tovar {
    display: grid;
}

main section.tovar h2 {
    padding-top: 64px;
    padding-left: 8vw;
    font-family: var(--font-Clah-Display);
    font-weight: 400;
    font-size: 32px;
}

main section.tovar div {
  display: grid;
  padding-top: 25px;
  padding-left: 8vw;
  padding-right: 8vw;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 460px;
  column-gap: 20px;
}

main section.tovar article:hover {
    transform: scale(1.05);
    transition: all 0.8s;
}

main section.tovar div article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-bottom: 24px;
    cursor: pointer;
}

main section.tovar div article h3 {
    font-family: var(--font-Clah-Display);
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 8px;
}

main section.tovar div article h4 {
    font-family: var(--font-Satoshi);
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 44px;
}

main section.tovar a {
    margin-top: 100px;
    justify-self: center;
}

main section.brand {
    padding: 80px 6vw;
    display: grid;
    row-gap: 36px;
    padding-bottom: 40px;
}

main section.brand h2 {
    font-family: "Clah Display";
    font-size: 28px;
    text-align: center;
    font-weight: 400;
    padding-top: 6vw;
}

main section.brand div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2vw;
}

main section.brand div article {
    display: grid;
    grid-template-rows: 24px repeat(2, 1fr);
    row-gap: 12px;
    padding: 48px;
    background-color: var(--color-lite-gray);
}

main section.brand div article svg {
    height: 100%;
}

main section.brand div article h3 {
    font-family: "Clah Display";
    font-size: 20px;
    font-weight: 400;
}

main section.brand div article p {
    font-family: Satoshi;
}

main section.odnoxuystvino {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 38vw;
    align-items: center;
    padding-top: 80px;
}

main section.odnoxuystvino div h2 {
    font-family: var(--font-Clah-Display);
    font-weight: 400;
    font-size: 32px;
    padding-bottom: 21px;
    padding: 72px;
}

main section.odnoxuystvino div p {
    font-family: var(--font-Satoshi);
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 180px;
    padding-left: 72px;
    width: 40vw;
}

main section.odnoxuystvino img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


main section.odnoxuystvino form {
    display: grid;
    grid-template-rows: 56px;
    grid-template-columns: 3fr 1fr 3fr;
    padding-left: 72px;
}

main section.odnoxuystvino form input {
    border-radius: 0;
    border: none;
    padding-left: 3vw;
    background-color: var(--color-lite-gray);
    font-family: var(--font-Satoshi);
    font-weight: 400;
    font-size: 16px;
}

main section.odnoxuystvino form input[type=submit] {
    color: var(--color-white);
    background-color: var(--color-dark-primary);
    padding: 0 32px;
    font-family: var(--font-Satoshi);
    font-weight: 400;
    font-size: 16px;
}

footer {
    background-color: var(--color-dark-primary);
    color: var(--color-white);
}

footer header  {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr;
    padding-top: 53px;
    padding-left: 8vw;
}

footer header ul {
    display: grid;
    row-gap: 12px;
    padding-bottom: 64px;
}

footer header ul:nth-child(2) li:nth-child(2){
    display: flex;
    margin-top: -70px;
    column-gap: 24px;
}

footer header ul:nth-child(3), ul:nth-child(4), ul:nth-child(5) {
    display: grid;
    align-self: start;
}

footer header ul li {
    list-style-type: none;
    font-family: var(--font-Satoshi);
    font-weight: 400;
    font-size: 14px;
}

footer header ul li a {
    text-decoration: none;
    color: var(--color-lite-gray);
}

footer header ul li.ttr {
    font-family: var(--font-Clah-Display);
    font-weight: 400;
    font-size: 36px;
}

footer header ul li.ty {
    font-family: var(--font-Clah-Display);
    font-weight: 400;
    font-size: 16px;
}

footer hr {
    margin-left: 8vw;
    margin-right: 8vw;
    border: 1px solid #4E4D93;
}

footer footer p {
    font-family: var(--font-Satoshi);
    font-weight: 400;
    font-size: 14px;
    padding-left: 8vw;
    padding-top: 16px;
}